/*--------------KEYFRAMES-----------------*/
@keyframes slideInFromTop {
  0% {
    transform: translateY(-1000px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes fadein1 {
  0% {
    opacity : 0;
  }
  66% {
    opacity : 0;
  }
  100% {
    opacity : 1;
  }

}

@keyframes fadein2 {
  0% {
    opacity : 0;
  }
  75% {
    opacity : 0;
  }
  100% {
    opacity : 1;
  }

}
/*------------LAYOUT CONTAINERS--------------*/

html {
  scroll-behavior: smooth;
}

.top-container {
  position : relative;
  text-align : center;
}

.middle-container {
  position:  relative;
  background-color: grey;
  max-width: 100%;
  height:auto;
  transform : translate(0px,-4%);
  align-items : center;
}

.bottom-container {
  background-color: #66BFBF;
  padding: 50px 0 20px;
}

/*-----------------BODY STUFF-----------------*/
body {
  animation: 2s ease-out 0s 1 slideInFromTop;
  color: #40514E;
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
}

.intro1 {
  font-family : Arial;
  background-color : rgba(0, 0, 0, 0.7);
  font-size : 30px;
  font-size : 4.5vw;
  animation : fadein1 3s ease-out;
  position : absolute;
  top : 40%;
  left : 50%;
  transform : translate(-50%, -50%);
  padding-left : 0.5%;
  padding-right : 0.5%;
  border-top-left-radius: 0.5vw;
  border-top-right-radius: 0.5vw;
  border-bottom-right-radius: 0.5vw;
  border-bottom-left-radius: 0.5vw;
}

.intro2 {
  font-family : Arial;
  background-color : rgba(0, 0, 0, 0.7);
  font-size : 30px;
  font-size : 4.5vw;
  animation : fadein2 5s ease-out;
  position : absolute;
  top : 55%;
  left : 50%;
  transform : translate(-50%, -50%);
  padding-left : 0.8%;
  padding-right : 0.8%;
  border-top-left-radius: 0.5vw;
  border-top-right-radius: 0.5vw;
  border-bottom-right-radius: 0.5vw;
  border-bottom-left-radius: 0.5vw;
}

.headerintro {
  animation: fadein2 6s;
  
}

.outrun {
  max-width: 100%;
  height: auto;
}

.selfie {
  position : absolute;
  width: 18%;
  height: auto;
  top: 50px;
  right: 50px;
  border-top-left-radius: 5vw;
  border-top-right-radius: 5vw;
  border-bottom-right-radius: 5vw;
  border-bottom-left-radius: 5vw;
}

.about {
  position: absolute;
  top: 20px;
  left: 40px;
  font-family : Arial;
  font-size : 6vw;
  font-weight:bold;
  text-decoration: underline;
}

/*--------------POSITIONING---------------*/
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.center-top {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.bottom-left {
  position: absolute;
  bottom: 8px;
  left: 16px;
}

.top-left {
  position: absolute;
  top: 8px;
  left: 16px;
}

.top-right {
  position: absolute;
  top: 8px;
  right: 16px;
}

.bottom-right {
  position: absolute;
  bottom: 8px;
  right: 16px;
}

/*------------FONTS--------------*/
h1 {
  color: #66BFBF;
  font-size: 2vw;
  font-family: 'Montserrat', sans-serif;
  background-color: rgba(0, 0, 0, 0.6);
  border-top-left-radius: 0.5vw;
  border-top-right-radius: 0.5vw;
  border-bottom-right-radius: 0.5vw;
  border-bottom-left-radius: 0.5vw;
  text-decoration: underline;
  position: absolute;
  left:0.5vw;
  margin-top: 2rem;
  padding-left : 0.5%;
  padding-right : 0.5%;
  padding-bottom : 0.3%;
  font-weight: bold;
  display:flex;
}

h2 {
  color: #66BFBF;
  font-size: 2vw;
  font-family: 'Montserrat', sans-serif;
  background-color: rgba(0, 0, 0, 0.6);
  border-top-left-radius: 0.5vw;
  border-top-right-radius: 0.5vw;
  border-bottom-right-radius: 0.5vw;
  border-bottom-left-radius: 0.5vw;
  text-decoration: underline;
  position: absolute;
  margin-top: 4rem;
  left: 0.5vw;
  padding-left : 0.5%;
  padding-right : 0.5%;
  padding-bottom : 0.3%;
  font-weight: bold;
}

h3 {
  color: #66BFBF;
  font-size: 2vw;
  font-family: 'Montserrat', sans-serif;
  background-color: rgba(0, 0, 0, 0.6);
  border-top-left-radius: 0.5vw;
  border-top-right-radius: 0.5vw;
  border-bottom-right-radius: 0.5vw;
  border-bottom-left-radius: 0.5vw;
  text-decoration: underline;
  position: absolute;
  margin-top: 6rem;
  left: 0.5vw;
  padding-left : 0.5%;
  padding-right : 0.5%;
  padding-bottom : 0.3%;
  font-weight: bold;
}

h4 {
  color: #66BFBF;
  font-size: 2vw;
  font-family: 'Montserrat', sans-serif;
  background-color: rgba(0, 0, 0, 0.6);
  border-top-left-radius: 0.5vw;
  border-top-right-radius: 0.5vw;
  border-bottom-right-radius: 0.5vw;
  border-bottom-left-radius: 0.5vw;
  text-decoration: underline;
  position: absolute;
  margin-top: 8rem;
  left: 0.5vw;
  padding-left : 0.5%;
  padding-right : 0.5%;
  padding-bottom : 0.3%;
  font-weight: bold;
}
p {
  line-height: 2;
}

hr {
  border: dotted #EAF6F6 6px;
  border-bottom: none;
  width: 4%;
  margin: 100px auto;
}

a{
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
  margin: 10px 20px;
  text-decoration: none;
}

.skill-row {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
}

.pro {
  text-decoration: underline;
}

.intro {
  width: 30%;
  margin: auto;
}

.contact-message {
  width: 40%;
  margin: 40px auto 60px;
}

.copyright {
  color: #EAF6F6;
  font-size: 0.75rem;
  padding: 20px 0;
}

.top-car {
  position: absolute;
  right: 300px;
  top: 40px;
  transition-duration : 1s
}

.top-car:hover {
  transform: rotate(45deg);
}

.bottom-car {
  position: absolute;
  left: 250px;
  bottom: 00px;
}

.code-img {
  width: 25%;
  float: left;
  margin-right: 30px;
}

.chilli-img {
  width: 25%;
  float: right;
  margin-left: 30px;
}

.btn {
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
  background-image: -o-linear-gradient(top, #11cdd4, #11999e);
  background-image: linear-gradient(to bottom, #11cdd4, #11999e);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
}
